<a href="https://colab.research.google.com/github/RasagnaCh/RasagnaCh/blob/main/prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#Hello world
print('hello world');

hello world

In [25]:
#Strings 
print('I can do this');

I can do this

In [26]:
#Concatenation of strings
print('my age is ' + 'twentyone')

my age is twentyone

In [14]:
Greeting ="Hello! Welcome to pixeltests. "
Name = 'rasagna'
ID = "this is your ID. Please note it down. ID = 95"
print(Greeting + 'Dear '+ Name + ', '+ ID)

Hello! Welcome to pixeltests. Dear rasagna, this is your ID. Please note it down. ID = 95

In [27]:
#variable and calculations
price = 30
qty = 6
total = price*qty
print(total);

180

In [29]:
#modulo operator (%)
a = 10
b = 3
remainder = a%b
print(remainder)

1

In [57]:
#UPDATING VARIABLES
jan_rainfall_to_june_rainfall = 1.93 + 0.71 + 3.53 + 3.41 + 3.69 + 4.50
annual_rainfall = jan_rainfall_to_june_rainfall
#gives 17.77 when print (annual_rainfall) is given

#add july rainfall to the annual rainfall
july_rainfall = 2
annual_rainfall =jan_rainfall_to_june_rainfall + july_rainfall
#gives 19.77 when print (annual_rainfall) is given

#if the values of sep_rainfall, aug_rainfall, oct_rainfall, nov_rainfall and dec_rainfall are given and
# are asked to add them to the annual_rainfall, we have to repeat everystep. So, to avoid it, a shortcut is given in Python. It is +=
aug_rainfall = 3.6
sep_rainfall = 2.73
oct_rainfall = 3.45
nov_rainfall = 4.11
dec_rainfall = 1.0

annual_rainfall += aug_rainfall #print(annual_rainfall) gives 23.37
annual_rainfall += sep_rainfall #print(annual_rainfall) gives 26.1
annual_rainfall += oct_rainfall #print(annual_rainfall) gives 29.55
annual_rainfall += nov_rainfall #print(annual_rainfall) gives 33.66
annual_rainfall += dec_rainfall #print(annual_rainfall) gives 34.66
print(annual_rainfall)

34.660000000000004

In [65]:
#numbers
#integer datatype
int1=9

#floattype
float1=5.1
float2=9.   #type(float2) gives float

#float() method
quotient = 7/3         
print(quotient)      #gives 2.3333333333333335
quotient = int(7)/3       
print(quotient)      #gives 2.3333333333333335

2.3333333333333335
2.3333333333333335

In [85]:
#multilinestrings, for this we use either ''' ''' or """ """
multi = """Flat No. G-3
Adithi Enclave
Vjwda"""
print (multi)

Flat No. G-3
Adithi Enclave
Vjwda

In [106]:
 #converting int into string
 age = 21
 print('my age is ' + str(age) )

 #example2
 
 pi = 3.14
 print('the value of pi is around ' + str(pi))

my age is 21
the value of pi is around 3.14

In [84]:
#string addition
#add 100 + 10 to give 10010
A ='100'
B ='10'
print (A+B) 

#convert str into int type using int()
A = int(100)
B = int(10)
print(A+B)

10010
110

In [92]:
#converting from float to int
a = int(7.5)
print(a)

7

In [91]:
age = "45"
print ("this is my uncles age = " + age )

age = 45
print ("this is my uncles age = " + str(age) )

this is my uncles age = 45
this is my uncles age = 45

In [101]:
#STRINGS
#IndexNumber

print('Ryan'[3]) #or name = 'Ryan'[0]; print(name)

#find the 5th letter of MONTY
print('MONTY'[4])

n
Y

In [104]:
#length of variable
name = 'Donkey'
Length= len(name)
print(Length)

6

In [109]:
#calling lower() and upper() on word using dot notation

word = 'Exhibition'
print(word.lower())

word = 'exhIBItion'
print(word.upper())

exhibition
EXHIBITION

In [119]:
#STRING FORMATTING
string1 = "Red Light"
string2 = "Green Light"
print('Stop when its a %s. Go when it is a %s '% (string1, string2)) 

name = 'Rasagna'
desk = 30
books = '3 books'
print('Dear %s, Kindly go to the desk no. %s. Take %s from it. Thankyou!' % (name, desk, books))

Stop when its a Red Light. Go when it is a Green Light
Dear Rasagna, Kindly go to the desk no. 30. Take 3 books from it. Thankyou!

In [129]:
#GETTING CURRENT DATE AND TIME
#we use datetime.now() to retrieve date and time
from datetime import datetime          #this is used to import the datetime lib here 
now = datetime.now()
print(now)

2023-05-18 12:49:21.104995

In [134]:
print(now.year); print(now.month); print(now.day)
print(now.year, now.month, now.day)

#print it in a sentence
print('%02d - %02d - %04d' % (now.day, now.month, now.year)) #02d is 2 digits and likewise.

#or print('%s - %s - %s' % (now.day, now.month, now.year))

2023
5
18
2023 5 18
18 - 05 - 2023

In [8]:
#TIME INFORMATION
from datetime import datetime
now = datetime.now()
print(now.hour)
print(now.minute)
print(now.second)

print('%02d : %02d : %04d' % (now.hour, now.minute, now.second))

16
24
30
16 : 24 : 0030